	body {
		background: #F6F6F6;
		margin: 0px;
		height: 100%;
	}	
	aside {
		background: #8A8A8A;
		float: left;
		width: 13%;
		height: 1013px;
	}

	#welcome{
		margin: 27%;
		text-align: center;	
		font-size: 1em;
	}

	article{
		float: left;
		width: 65%;
		margin-left: 10%;
		margin-top: 5%;
	}

	#button{
		margin-left: 25%;
		margin-top: 5%; 

	}

	#register{
		margin-right: 10%;
	}

	#dept-register{
		margin-right: 10%;
	}

	#class-register{
		margin-right: 10%;
	}

	table{
		margin-left:15%;
	}