<!DOCTYPE html>
<html>
<head>
    <title>Remove</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
	<h1>Remove</h1>
	<form method="get" action="/remove/:id">
	
	<% for(var i=0;i<rows.length;i++){
	var id = rows[i].기관ID;
	%>
	<tr><td><%= id %></td>

	</tr>
	

	<h2> 정말 삭제하시겠습니까? </h2>

	<button type='submit' onClick="/remove/<%=id%>">네 삭제하겠습니다</button>

	<% } %>

	</form>
</body>
</html>	