<!DOCTYPE html>
<html>
<head>
    <title>Register Success</title>
    <link rel='stylesheet' href='/stylesheets/simple.css'/>
</head>
<body>
<aside class="sidebar">
	<div id="welcome">
		<h3>환영합니다!</h3>
		<img src="/stylesheets/profile.jpg" width="100px">
		<input type="button" id="logout" value="로그아웃" onClick="location.href='/register/center'"></input><p>	<!-- 라우팅 처리 안함 -->
		<input type="button" id="mypage" value="마이페이지" onClick="location.href='/register/choice'"></input><p>	<!-- 라우팅 처리 안함 -->
	</div>
</aside>

<article>
	<h1> 등록이 완료되었습니다</h1>
	<input type="button" value="개설과목 리스트 보기" onClick="location.href='/classList'"></input><p>
	<input type="button" value="메인으로" onClick="location.href='/main'"></input><p>
</article>
</body>
</html>		